{% extends 'base.html' %}
{% block title %}
Contact
{% endblock title %}
{% block head %}
<h1  class="mb-4">About US</h1>
<h2 style="color: #ffbb38" class="mb-3">Welcome to our gym! We are a dedicated fitness facility committed to helping individuals achieve their health and fitness goals in a supportive and motivating environment. With a team of experienced trainers and state-of-the-art equipment, we provide the resources and guidance necessary to transform your fitness journey.</h2>

<h2 style="color: #ffbb38" class="mb-3">At our gym, we believe that fitness is not just a physical endeavor but a holistic approach to overall well-being. We strive to create an inclusive and welcoming community where individuals of all fitness levels can thrive. Whether you're a beginner taking your first steps towards a healthier lifestyle or an experienced athlete looking to enhance your performance, our gym has something for everyone.</h2>
    
<h2 style="color: #ffbb38" class="mb-3">Our team of passionate and certified trainers is here to assist you in reaching your goals. They are equipped with the knowledge and expertise to design personalized workout plans tailored to your specific needs and preferences. From strength training and cardio workouts to group classes and specialized programs, our trainers will challenge and inspire you every step of the way.</h2>

{% endblock head %}
