{% extends 'base.html' %}
{% block title %}
Gallery
{% endblock title %}
{% block head %}

<centre><h1 class="mb-4"> Our Gallery</h1></centre>
<h2 class="mb-3">Step into a world where fitness meets innovation with Gold's Gym Virtual Gallery. We have revolutionized the way you experience fitness, bringing you an immersive and dynamic online platform that takes your workouts to the next level.</h2>

<h2 class="mb-3">With our Virtual Gallery, you can access an extensive library of on-demand workouts anytime, anywhere. Whether you're at home, traveling, or simply prefer the convenience of virtual training, our curated collection of classes and training programs is designed to keep you motivated and engaged.</h2>

{% endblock head %}

{% block body %}
<div style="background: #f0f0f0">
<div class="container mt-2">
    <div class="row">
  
      {% for post in posts %}
      <div class="col-md-4">
        <div class="card mt-5  mb-5">
          <img src="{{post.img.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">Uploaded On - {{post.timestamp}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  
    </div>
  </div>
</div>

{% endblock body%}
