{% extends 'base.html' %}
{% block title %}
Gallery
{% endblock title %}
{% block head %}

<centre><h1 class="mb-4">Gallery</h1></centre>
<h2 style="color: #ffbb38" class="mb-3">Welcome to the Gold's Gym Fitness Webpage Gallery, a digital showcase of strength, passion, and transformation. Step into our virtual realm, where you'll discover a collection of images that encapsulate the essence of our renowned fitness empire.</h2>
<h2 style="color: #ffbb38" class="mb-3">As you navigate through the Gold's Gym Fitness webpage gallery, you'll be greeted by a series of captivating visuals that depict the diverse and dynamic world of fitness. Each photograph captures the determination etched on the faces of individuals as they strive for greatness, embodying the unwavering spirit that defines our community.</h2>
<h2 style="color: #ffbb38" class="mb-3">Our gallery showcases the modern and inviting environment of Gold's Gym locations. You'll find a stunning display of cutting-edge fitness equipment that stands as a testament to our commitment to providing the best resources for achieving your goals. From state-of-the-art cardio machines to an array of strength training equipment, every corner of our gyms is designed to empower you to unleash your full potential.</h2>


{% endblock head %}

{% block body %}
<div style="background: #f0f0f0">
<div class="container mt-2">
    <div class="row">
  
      {% for post in posts %}
      <div class="col-md-4">
        <div class="card mt-5  mb-5">
          <img src="{{post.img.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">Uploaded On - {{post.timestamp}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  
    </div>
  </div>
</div>

{% endblock body%}

{% block footer%}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Gp<span>.</span></h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

 {% endblock footer%}