{% extends 'base.html' %}
{% block title %}
Gallery
{% endblock title %}
{% block head %}

<centre><h1 class="mb-4">Gallery</h1></centre>
<h2 style="color: #ffbb38" class="mb-3">Welcome to the Gold's Gym Fitness Webpage Gallery, a digital showcase of strength, passion, and transformation. Step into our virtual realm, where you'll discover a collection of images that encapsulate the essence of our renowned fitness empire.</h2>

{% endblock head %}

{% block body %}
<div style="background: #f0f0f0">
<div class="container mt-2">
    <div class="row">
  
      {% for post in posts %}
      <div class="col-md-4">
        <div class="card mt-5  mb-5">
          <img src="{{post.img.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">Uploaded On - {{post.timestamp}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
  
    </div>
  </div>
</div>

{% endblock body%}
