{% extends 'base.html' %}
{% block title %}
Profile
{% endblock title %}
{% block head %}
<div class="container">
  <div class="row">
  <div class="col-md-1"> </div>

    <div class="col-md-5 mt-5 mb-5" style="Padding-right:30px">
     
      <center><p class="display-6 mb-3 text-white"><b>Basic Detail</b></hp></center>
      
      {% for post in posts %}
    
        <ul class="list-group">
          <li class="list-group-item bg-warning text-dark"><h5>Name : {{post.fullname}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>Email : {{post.email}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>Gender : {{post.gender}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>PhoneNumber : {{post.phonenumber}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>DOB : {{post.DOB}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>Address : {{post.address}}</h5></li>
        </ul>

      {% endfor %}

    </div>

    <div class="col-md-5 mt-5 mb-5">

      <center><p class="display-6 mb-3 text-white"><b>Enrollment Details</b></hp></center>
      
      {% for post in posts %}
    
        <ul class="list-group">
          <li class="list-group-item bg-warning text-dark"><h5>Membership plan : {{post.selectmembershipplan}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>Trainer : {{post.selecttrainer}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>Reference : {{post.reference}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>Payment Status : {{post.paymentstatus}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>Amount Paid : {{post.price}}</h5></li>
          <li class="list-group-item bg-warning text-dark"><h5>Upcoming Due Date : {{post.duedate}}</h5></li>
        </ul>

      {% endfor %}
      
      
    </div>

  </div>
</div>

{% endblock head %}

{% block body %}

<div class="container">

  <div class="row">
  <div class="col-md-2"> </div>
  
  <div class="col-md-8 mt-5 mb-5">
    <center><h2 class="display-6 mb-3"><b>Attendance Data</b></h2></center>
    
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr class=table-success>
        
          <th scope="col"><center>Date</center></th>
          <th scope="col"><center>Login Time</center></th>
          <th scope="col"><center>Logout Time</center></th>
          <th scope="col"><center>Workout Done</center></th>
          <th scope="col"><center>Trained By</center></th>
        </tr>
      </thead>

      <tbody>
        {% for attend in attendance %}
        <tr>
          
          <td>{{attend.selectdate}}</td>
          <td>{{attend.login}}</td>
          <td>{{attend.logout}}</td>
          <td>{{attend.selectworkout}}</td>
          <td>{{attend.trainedby}}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>    
</div>

{% endblock body %}
