{% extends 'base.html' %} 
{% block title %}  Services {% endblock title%}
{% block head %}
<h1  class=" mt-5 mb-4">Our Services</h1>
<h4 class="text-white" class="mb-3">Gold's Gym offers a wide range of services designed to cater to the diverse fitness needs and goals of its members. With a rich history dating back to 1965, Gold's Gym has become a global leader in the fitness industry, providing top-notch facilities and expert guidance to individuals seeking to improve their health and well-being</h4>
<h4 class="text-white">1. State-of-the-Art Equipment</h4>
<h4 class="text-white">2. Personal Training</h4>
<h4 class="text-white">3. Group Exercise Classes</h4>
<h4 class="text-white">4. Specialty Programs</h4>
<h4 class="text-white">5. Online Workouts and Fitness Tracking</h4>
<h4 class="text-white">6. Personalized Nutrition Guidance</h4>
{% endblock head %}

{% block body %}    
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        {% comment %} <h2>Services</h2> {% endcomment %}
        <p>Check our Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">State-of-the-Art Equipment</a></h4>
            <p>Gold's Gym boasts a comprehensive selection of cutting-edge fitness equipment, including cardio machines, strength training equipment, free weights, and functional training areas.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Personal Training</a></h4>
            <p>Gold's Gym offers personalized training programs delivered by certified fitness professionals.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Group Exercise Classes</a></h4>
            <p>The gym's group exercise classes are a popular choice for members looking for a dynamic and engaging fitness experience.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Specialty Programs</a></h4>
            <p>Gold's Gym offers specialized programs designed to target specific fitness goals or interests.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-slideshow"></i></div>
            <h4><a href="">Online Workouts and Fitness Tracking</a></h4>
            <p>Gold's Gym understands the importance of flexibility and convenience in today's busy world.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-arch"></i></div>
            <h4><a href="">Personalized Nutrition Guidance</a></h4>
            <p>Achieving fitness goals goes hand in hand with proper nutrition.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  {% endblock body %}
